.wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width:fit-content;
    padding: 15px;
    background: #fff;
    border-radius: 25px;
  }

  .wrap input, select {
    width: 100%;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #f1f0f0;
    overflow: hidden;
    box-sizing: border-box;
    border: 1px solid #ccc;
  }

  .wrap input:focus, select:focus {
    background-color: #ddd;
    outline: none;
  }
  .wrap input[type=submit] {
   border: none;
   color: #fff;
   background: linear-gradient(135deg, #71b7e6, #9b59b6);
   font-size: 18px;
   font-weight: 500;
   letter-spacing: 1px;
  }

  .wrap input[type=submit]:hover {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }

  .wrap input[type=submit]:active {
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
  }


