@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

body{
  margin : 0px;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #71b7e6, #9b59b6);
  font-family: 'Poppins',sans-serif;
}

.top-bar {
  width: 100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333; 
  margin-bottom: 20px;
}

.top-bar input {
  float: left;
  display: inline;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
  border : none;
  font-size:large;
}

.container h1, h2{
  color:#000;
  text-decoration:none;
  text-align: center;
}

.top-bar input:hover {
  background-color: #111;
}

.top-bar input:active {
  background-color: red;
}

.container input {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  background-color: #333;
  border : none;
  font-size:large;
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.container input:hover {
  background-color: #111;
}

.container input:active {
  background-color: red;
}

