[Unit]
Description=Process pending archives every minute
Wants=mysql.service

[Service]
Environment=DBHOST='localhost'
Environment=DBNAME='wbmachine'
Environment=DBUSER='wbmachine'
Environment=DBPASS='ParolataESlozhna'
ExecStart=php --php-ini /usr/share/wbmachine/config/php.ini /usr/share/wbmachine/scripts/process_pending_archives.php
