<!-- Navbar -->
<nav class="top-bar">
  <form action="/" class="bar-item">
    <input type="submit" value="Home" />
  </form>
  <form action="/archive" class="bar-item">
    <input type="submit" value="Archive Page" />
  </form>
  <form action="/view" class="bar-item">
    <input type="submit" value="Browse Archives" />
  </form>
</nav>

<!-- Header -->
<header class="container">
<h1 class="header">WAYBACK MACHINE</h1>
  <h2 class="subheader">Archive and browse pages</h2>
  <form action="/archive">
    <input type="submit" value="Archive Page" />
  </form>
</header>
