<style>
  #site {
    margin-bottom:0px;
  }
</style>

<nav class="url-bar">
  <p>Displayed webpage: <?= $url;?></p>
  <p>Current timestamp: <?= $timestamp;?></p>
</nav>

<nav class="timestamp-bar">
    <form>
    <label for="timestamp-id">Select different archive</label>
    <select id="timestamp-id" name="timestamp-id" required onchange="location = this.options[this.selectedIndex].value;">
      <option value="none" selected disabled hidden><?= $timestamp;?></option>
      <?php for($i=0; $i<count($timestamps); $i++): ?>
        <option value="/site?timestamp=<?= $timestamps[$i];?>&resource=<?= $resource;?>&id_hash=<?= $id_hashes[$i];?>&url=<?= $url;?>"><?=$timestamps[$i];?></option>
      <?php endfor; ?>
    </select>
  </form>
</nav>

<div class="siteframe">
  <iframe src="<?= $archive_store ?>/<?= $id_hash;?>/<?= $resource;?>"></iframe>
</div>
